* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', sans-serif;
    box-sizing: border-box;
}

body {
  background-color: #fff;
}

.top-header {
    width: 100%;
    padding-right: 2%;
    background-color: rgb(34, 131, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa {
    background: #fff;
    padding: 7px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
    border-radius:50%;
  
  }
  
  .fa-facebook {
    color: rgb(34, 131, 54);
  }
  
  .fa-facebook:hover {
    opacity: 0.7;
  }
  
  .fa-instagram {
    color: rgb(34, 131, 54);
  }
  
  .fa-instagram:hover {
    opacity: 0.7;
  }
  
  .fa-map-marker {
    color: #fff;
    background: none;
  }
  
  .fa-phone {
    color: #fff;
    background: none;
  }

  .contact-number {
    text-decoration: none;
    color: #fff;
  }

  .contact-number:hover {
    opacity: 0.7;
  }

header {
    width: 100%;
    background-color: #fff;
    display: flex;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: none;
  }
  
  .logo {
    width: 145px;
    cursor: pointer;
  }
  
  nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    border-bottom: 2px solid rgb(34, 131, 54);
  }
  
  nav ul li {
    display: inline-block;
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
  }
  
  nav ul li a:hover {
    opacity: 0.6;
  }

  nav button {
    width: 19.5%;
    background-color: transparent;
    border: 2px solid rgb(34, 131, 54);
    color: rgb(0, 0, 0);
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    margin: 3px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  nav button:hover {
    background-color: rgb(34, 131, 54);
    color: #fff;
  }

  .menu {
    display: none;
    cursor: pointer;
    
  }

  .menu:hover {
    opacity: 0.7;
  }

  .menu-line {
    width:30px;
    height: 4px;
    background-color: rgb(34, 131, 54);
    margin-bottom: 6px;
  }

  .content-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: black;
    flex-wrap: wrap;
  }

  .content-container img {
    position: relative;
    width: 100%;
    height: 80vh;
    opacity: 0.6;
    object-fit: cover;
  }

  .slideshow {
    position: relative;
    width: 100%;
  }

  .body-text {
    color: #fff;
    position: absolute;
    font-size: 3rem;
    top: 5rem;
    left: 4rem;
    font-size: 5vw;

  }

/* Contact Page */
.contact-form {
  width: 100%;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(34, 131, 54));
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 12%;
}

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  outline: solid;
  outline-color: rgb(34, 131, 54);
  padding: 2%;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: rgb(34, 131, 54);
  font-weight: 800;
  margin-bottom: 20px;
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

form button {
  padding: 15px;
  background: rgb(34, 131, 54);
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

/* About Page */
.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3%;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(34, 131, 54));
}

.about-container > div {
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid rgb(34, 131, 54);
  padding: 1%;
}

.about-container > div img {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 1%;
}

.about-container > div p, li {
  font-size: 1.3rem;
  list-style: none;
  font-family: 'Trebuchet MS', sans-serif;
}

.about-container > div h2 {
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  color: rgb(34, 131, 54);
}

.about-container div > iframe {
  width: 100%;
}

#about-services {
  text-align: center;
}

/* Services Page */
.services-container {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(34, 131, 54));
  box-sizing: border-box;
  justify-content: space-around;
  padding: 2%;
}

.services-container > div {
  height: 5%;
  width: 24.6%;
  padding: 2%;
  border-radius: 25px;
  border: 2px solid rgb(34, 131, 54);
}

.services-container > div:hover {
  transform: scale(1.05);
  background-color: #fff;
}

.services-container > div li {
  list-style: inside;
}

.services-container h3, h2 {
  color: rgb(34, 131, 54);
}

.services-container > div img {
  width: 100%;
  border-radius: 5%;
}

.services-container div > p, li {
  font-size: 1.3rem;
  font-family: 'Trebuchet MS', sans-serif;
}

#services-header {
  text-align: center; 
  padding-top: 1%;
  font-size: 1.3rem;
}

@media screen and (max-width: 992px) {
  .top-header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .about-container {
    padding: 1%;
  }

  .about-container > div {
    background-color: #fff;
    padding: 2%;
  }

  .about-container > div img {
    width: 100%;
    border-radius: 5%;
  }

  .services-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services-container > div {
    height: auto;
    width: auto;
    background-color: #fff;
    border: 2px solid rgb(34, 131, 54);
  }

  .services-container > div:hover {
    transform: none;
  }

  .contact-form {
    height: 100%;
    padding-bottom: 7%;
  }

  form {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .body-text {
    left: 15px;
    font-size: 8vw;
  }

  .header {
    background-color: #fff;
    padding-bottom: 5px;
  }

  .logo {
    padding: none;
    width: 100%;
    min-width: 45%;
  }

  button {
    display: flex;
    width: min-content;
    min-width: 45%;
    order:2;
  }

  nav ul {
    display: none;
    width: 100%;
    text-align: center;
    
    order: 4;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(34, 131, 54);
    padding-left: 20px;
  }

  .menu {
    display: block;
    padding-bottom: 3px;
    padding-top: 15px;
    order:3;
  }

  .active {
    display: block;
  }

  .about-container div > p, h2, li, b {
    font-size: 5.6vw;
  }

  .about-container div > img {
    width: 100%;
    height: 80%;
  }

  .services-container div > p, h3, li {
    font-size: 5.6vw;
  }

  .services-container > div {
    padding: 5%;
  }

  #services-header {
    font-size: 5.9vw;
  }

  .contact-form > form button {
    justify-content: center;
  }
}